extends layout

block content
 h1
  a(href='/') My Blog
 form(method='post' action="/login")
     fieldset
          legend Login
          p
            label 
              | Name: 
              input(type='text',name='username',placeholder='Enter your name',required)
          p
            label 
              | Password: 
              input(type='password',name='password',placeholder='Enter your password',required)
          label(style="color: red") #{login_error}
     p
      input(type='submit', value='Submit')
        